# Ignorar arquivos de backup do Visual Paradigm
*.vpp.bak*

# Ignorar arquivos de lock do Visual Paradigm
*.vpp.lck

# Ignorar arquivos de .venv Python
*.venv/

# Ignorar arquivos de cache do Visual Studio Code
.vscode/